---
layout: default
---

<h1>{{ page.name }}</h1>
<h2>Personnes à contacter</h2>
<ul>
{% for contact in page.contacts %}
  <li>{{ contact.name }}: {{ contact.tel }}</li>
{% endfor %}
</ul>

	<section id="cd-timeline" class="cd-container">
  {% for event in page.events %}
		<div class="cd-timeline-block">
      <div class="cd-timeline-img cd-{{ event.type }}">
        <img src="{{ site.baseurl }}/assets/icons/{{ event.type }}.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
        <h2>{{ event.name }}</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
				<a href="#0" class="cd-read-more">Read more</a>
        <span class="cd-date">{{ event.date }}</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
  {% endfor %}

	</section> <!-- cd-timeline -->
